body {
    background-color: black;
    text-align: center;
    font-family: verdana;
    color: white;
}

a.cta{
    color: aquamarine;
    font-size: 16px;
}

header h1 {
    font-weight: normal;
    font-size: 50px;
    text-align: center;
}

header p {
    color: aquamarine;
    font-size: 16px;
}

.personal-travel-guide {
    font-weight: 300;
    font-size: 42px;
}

.personal-travel-guide + p {
    font-size: 21px;
    color: gray;
}

footer {
    text-align: right;
    color: gray;
}